<a href="https://colab.research.google.com/github/Cal-0/Cal-0-dashboard.github.io/blob/master/DS-Unit-2-Linear-Models/module3-ridge-regression/Copy_of_assignment_regression_classification_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [5]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [6]:
df['BUILDING_CLASS_CATEGORY'].value_counts()

01 ONE FAMILY DWELLINGS                       5061
02 TWO FAMILY DWELLINGS                       4567
10 COOPS - ELEVATOR APARTMENTS                3471
13 CONDOS - ELEVATOR APARTMENTS               3339
03 THREE FAMILY DWELLINGS                     1438
07 RENTALS - WALKUP APARTMENTS                 807
09 COOPS - WALKUP APARTMENTS                   672
15 CONDOS - 2-10 UNIT RESIDENTIAL              421
04 TAX CLASS 1 CONDOS                          418
44 CONDO PARKING                               366
17 CONDO COOPS                                 300
22 STORE BUILDINGS                             288
05 TAX CLASS 1 VACANT LAND                     288
12 CONDOS - WALKUP APARTMENTS                  256
14 RENTALS - 4-10 UNIT                         200
29 COMMERCIAL GARAGES                          147
08 RENTALS - ELEVATOR APARTMENTS               120
30 WAREHOUSES                                  105
21 OFFICE BUILDINGS                             96
31 COMMERCIAL VACANT LAND                       80
43 CONDO OFFICE BUILDINGS                       80
47 CONDO NON-BUSINESS STORAGE                   75
46 CONDO STORE BUILDINGS                        65
27 FACTORIES                                    54
06 TAX CLASS 1 - OTHER                          42
37 RELIGIOUS FACILITIES                         38
45 CONDO HOTELS                                 32
11A CONDO-RENTALS                               30
41 TAX CLASS 4 - OTHER                          30
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      29
33 EDUCATIONAL FACILITIES                       24
28 COMMERCIAL CONDOS                            23
32 HOSPITAL AND HEALTH FACILITIES               21
26 OTHER HOTELS                                 15
34 THEATRES                                      7
23 LOFT BUILDINGS                                7
35 INDOOR PUBLIC AND CULTURAL FACILITIES         7
25 LUXURY HOTELS                                 6
36 OUTDOOR RECREATIONAL FACILITIES               4
49 CONDO WAREHOUSES/FACTORY/INDUS                4
48 CONDO TERRACES/GARDENS/CABANAS                3
38 ASYLUMS AND HOMES                             2
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC        1
39 TRANSPORTATION FACILITIES                     1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [7]:
df['SALE_PRICE'].value_counts()

0          6909
10          199
800000      125
750000      121
650000      120
           ...
5236177       1
229000        1
397218        1
4112000       1
1751425       1
Name: SALE_PRICE, Length: 3831, dtype: int64

In [0]:
df['BUILDING_CLASS_CATEGORY2'] = df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS'

In [9]:
df['BUILDING_CLASS_CATEGORY'].value_counts()

01 ONE FAMILY DWELLINGS                       5061
02 TWO FAMILY DWELLINGS                       4567
10 COOPS - ELEVATOR APARTMENTS                3471
13 CONDOS - ELEVATOR APARTMENTS               3339
03 THREE FAMILY DWELLINGS                     1438
07 RENTALS - WALKUP APARTMENTS                 807
09 COOPS - WALKUP APARTMENTS                   672
15 CONDOS - 2-10 UNIT RESIDENTIAL              421
04 TAX CLASS 1 CONDOS                          418
44 CONDO PARKING                               366
17 CONDO COOPS                                 300
22 STORE BUILDINGS                             288
05 TAX CLASS 1 VACANT LAND                     288
12 CONDOS - WALKUP APARTMENTS                  256
14 RENTALS - 4-10 UNIT                         200
29 COMMERCIAL GARAGES                          147
08 RENTALS - ELEVATOR APARTMENTS               120
30 WAREHOUSES                                  105
21 OFFICE BUILDINGS                             96
31 COMMERCIAL VACANT LAND                       80
43 CONDO OFFICE BUILDINGS                       80
47 CONDO NON-BUSINESS STORAGE                   75
46 CONDO STORE BUILDINGS                        65
27 FACTORIES                                    54
06 TAX CLASS 1 - OTHER                          42
37 RELIGIOUS FACILITIES                         38
45 CONDO HOTELS                                 32
11A CONDO-RENTALS                               30
41 TAX CLASS 4 - OTHER                          30
16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT      29
33 EDUCATIONAL FACILITIES                       24
28 COMMERCIAL CONDOS                            23
32 HOSPITAL AND HEALTH FACILITIES               21
26 OTHER HOTELS                                 15
34 THEATRES                                      7
23 LOFT BUILDINGS                                7
35 INDOOR PUBLIC AND CULTURAL FACILITIES         7
25 LUXURY HOTELS                                 6
36 OUTDOOR RECREATIONAL FACILITIES               4
49 CONDO WAREHOUSES/FACTORY/INDUS                4
48 CONDO TERRACES/GARDENS/CABANAS                3
38 ASYLUMS AND HOMES                             2
42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC        1
39 TRANSPORTATION FACILITIES                     1
Name: BUILDING_CLASS_CATEGORY, dtype: int64

In [0]:
condition = df['BUILDING_CLASS_CATEGORY2'] == False

In [11]:
condition.value_counts()

True     17979
False     5061
Name: BUILDING_CLASS_CATEGORY2, dtype: int64

In [0]:
df2 = df.drop(df[df['BUILDING_CLASS_CATEGORY2']== False].index)

In [13]:
df2['BUILDING_CLASS_CATEGORY2'].value_counts()

True    5061
Name: BUILDING_CLASS_CATEGORY2, dtype: int64

In [14]:
df2.head()

   BOROUGH NEIGHBORHOOD  ...   SALE_DATE BUILDING_CLASS_CATEGORY2
7        2        OTHER  ...  01/01/2019                     True
8        2        OTHER  ...  01/01/2019                     True
9        2        OTHER  ...  01/01/2019                     True
42       3        OTHER  ...  01/01/2019                     True
44       3        OTHER  ...  01/01/2019                     True

[5 rows x 22 columns]

In [15]:
df2['SALE_DATE'].dtype

dtype('O')

In [0]:
df2['SALE_DATE'] = pd.to_datetime(df2['SALE_DATE'])

In [17]:
df2['SALE_DATE'].dtype

dtype('<M8[ns]')

In [18]:
df2['SALE_DATE'].isna().sum()

0

In [0]:
train = df2[(df2['SALE_DATE'] > '2019-01-01') & (df2['SALE_DATE'] < '2019-04-01')]

In [0]:
test = df2[(df2['SALE_DATE'] > '2019-04-01') & (df2['SALE_DATE'] < '2019-05-01')]

In [21]:
train.head()

    BOROUGH NEIGHBORHOOD  ...  SALE_DATE BUILDING_CLASS_CATEGORY2
78        2        OTHER  ... 2019-01-02                     True
83        2        OTHER  ... 2019-01-02                     True
108       3        OTHER  ... 2019-01-02                     True
110       3        OTHER  ... 2019-01-02                     True
111       3        OTHER  ... 2019-01-02                     True

[5 rows x 22 columns]

In [22]:
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique  ...      first       last
BUILDING_CLASS_CATEGORY         4085      1  ...        NaT        NaT
BUILDING_CLASS_CATEGORY2        4085      1  ...        NaT        NaT
APARTMENT_NUMBER                   2      2  ...        NaT        NaT
TAX_CLASS_AT_PRESENT            4085      3  ...        NaT        NaT
BOROUGH                         4085      5  ...        NaT        NaT
NEIGHBORHOOD                    4085      9  ...        NaT        NaT
BUILDING_CLASS_AT_TIME_OF_SALE  4085     12  ...        NaT        NaT
BUILDING_CLASS_AT_PRESENT       4085     15  ...        NaT        NaT
SALE_DATE                       4085     89  ... 2019-01-02 2019-03-31
LAND_SQUARE_FEET                4085   1279  ...        NaT        NaT
ADDRESS                         4085   4050  ...        NaT        NaT

[11 rows x 6 columns]

In [23]:
train['TAX_CLASS_AT_PRESENT'].value_counts()

1     4049
1D      34
1B       2
Name: TAX_CLASS_AT_PRESENT, dtype: int64

In [24]:
train['BOROUGH'].value_counts()

4    1989
5     983
3     735
2     346
1      32
Name: BOROUGH, dtype: int64

In [25]:
train['NEIGHBORHOOD'].value_counts

<bound method IndexOpsMixin.value_counts of 78       OTHER
83       OTHER
108      OTHER
110      OTHER
111      OTHER
         ...
18139    OTHER
18140    OTHER
18147    OTHER
18152    OTHER
18165    OTHER
Name: NEIGHBORHOOD, Length: 4085, dtype: object>

In [0]:
target = 'SALE_PRICE'
high_cardinality = ['SALE_DATE', 'LAND_SQUARE_FEET', 'ADDRESS', 'BUILDING_CLASS_CATEGORY', 'BUILDING_CLASS_CATEGORY2',
                    'APARTMENT_NUMBER', 'EASE-MENT', 'ZIP_CODE', 'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'BLOCK', 'LOT',
                    'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS']
features = train.columns.drop([target] + high_cardinality)

In [27]:
df2[features].head()

   BOROUGH  ... BUILDING_CLASS_AT_TIME_OF_SALE
7        2  ...                             A1
8        2  ...                             A5
9        2  ...                             A5
42       3  ...                             A1
44       3  ...                             A9

[5 rows x 6 columns]

In [0]:
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

In [0]:
X_train2 = encoder.fit_transform(X_train)
X_test2 = encoder.transform(X_test)

In [38]:
X_train2.head()

     BOROUGH_2  ...  BUILDING_CLASS_AT_TIME_OF_SALE_S0
78           1  ...                                  0
83           1  ...                                  0
108          0  ...                                  0
110          0  ...                                  0
111          0  ...                                  0

[5 rows x 45 columns]

In [32]:
len(features)

6

In [33]:
features2 = X_train.columns
len(features2)

6

In [0]:
n = len(features2)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.metrics import mean_absolute_error

In [36]:
features2.isna().sum()

0

In [0]:
selector = SelectKBest(score_func=f_regression, k=6)

In [49]:
X_train_selected = selector.fit_transform(X_train2, y_train)
X_test_selected = selector.transform(X_test2)
X_train_selected.shape, X_test_selected.shape

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

((4085, 6), (912, 6))

In [50]:
X_train_selected.shape, X_test_selected.shape

((4085, 6), (912, 6))

In [57]:
for k in range(1, 7):
    print(f'{k} features2')

    selector = SelectKBest(score_func=f_regression, k=k)
    X_train_selected = selector.fit_transform(X_train2, y_train)
    X_test_selected = selector.transform(X_test2)

    model = LinearRegression()
    model.fit(X_train_selected, y_train)
    y_pred = model.predict(X_test_selected)

    mae = mean_absolute_error(y_test, y_pred)
    print(f'Test MAE: ${mae:,.0f} \n')

1 features2
Test MAE: $387,042

2 features2
Test MAE: $386,149

3 features2
Test MAE: $375,906

4 features2
Test MAE: $375,756

5 features2
Test MAE: $375,763

6 features2
Test MAE: $375,963

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)